<h1>Hello, yes</h1>

<div style="margin-bottom:20px">

  <button (click)="highlightColumn(0)">
    Highlight Name
  </button>

  <button (click)="highlightColumn(1)">
    Highlight Age
  </button>

  <button (click)="highlightColumn(2)">
    Highlight City
  </button>

  <button (click)="clearSelection()">
    Clear
  </button>

</div>

<table>

  <thead>
    <tr>
      <th *ngIf="selectedColumn == 0" [class.active]="selectedColumn === 0">Name</th>
      <th *ngIf="selectedColumn == 1" [class.active]="selectedColumn === 1">Age</th>
      <th *ngIf="selectedColumn == 2" [class.active]="selectedColumn === 2">City</th>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let user of users">

      <td *ngIf="selectedColumn == 0" [class.active]="selectedColumn === 0">
        {{user.name}}
      </td>

      <td *ngIf="selectedColumn == 1" [class.active]="selectedColumn === 1">
        {{user.age}}
      </td>

      <td *ngIf="selectedColumn == 2" [class.active]="selectedColumn === 2">
        {{user.city}}
      </td>

    </tr>

  </tbody>

</table>
<router-outlet />